{% extends 'ui/base.html' %}

{% load staticfiles %}

{% block header %}Your export wins{% endblock header %}

{% block content %}

    <div class="my-wins">
        
        <a href="{% url 'new-win' %}" class="btn btn-primary btn-responsive">Record new win</a>

        {% if wins.results %}

            <h3>Unsent wins <span class="badge">{{ wins.results | length }}</span></h3>

            <table class="table table-striped">
                <tr>
                    <th>
                        Company
                    </th>
                    <th>
                        Sent
                    </th>
                </tr>
                {% for win in wins.results %}
                    <tr>
                        <td>
                            <a href="{% url 'win-details' win.id %}">{{ win.company_name }}</a>
                        </td>
                        <td class="sent">
                            {% if win.complete %}
                                sent to customer
                            {% else %}
                                <a href="{% url 'win-complete' win.id %}" class="btn btn-primary">send to customer</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>


            <h3>Sent to customer <span class="badge">2</span></h3>

            <table class="table table-striped">
                <tr>
                    <th>
                        Company
                    </th>
                    <th>
                        Sent
                    </th>
                </tr>
                {% for win in wins.results %}
                    <tr>
                        <td>
                            <a href="{% url 'win-details' win.id %}">{{ win.company_name }}</a>
                        </td>
                        <td class="sent">
                            {% if win.complete %}
                                sent to customer
                            {% else %}
                                <a href="{% url 'win-complete' win.id %}" class="btn btn-primary">send to customer</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <h3>Customer responded <span class="badge">6</span></h3>

            <table class="table table-striped">
                <tr>
                    <th>
                        Company
                    </th>
                    <th>
                        Sent
                    </th>
                </tr>
                {% for win in wins.results %}
                    <tr>
                        <td>
                            <a href="{% url 'win-details' win.id %}">{{ win.company_name }}</a>
                        </td>
                        <td class="sent">
                            {% if win.complete %}
                                sent to customer
                            {% else %}
                                <a href="{% url 'win-complete' win.id %}" class="btn btn-primary">send to customer</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

        {% else %}

            <p>You have not yet recorded any wins</p>

        {% endif %}

    </div>
    
{% endblock content %}