{% extends 'ui/base.html' %}


{% load staticfiles %}


{% block css %}

  {{ block.super }}

  <style>
    h2 {
      margin: 1em auto;
      text-align: center;
      background-color: #be0048;
      padding: 1em;
      border-radius: 1em;
      color: #ffffff;
    }
    .btn {
      margin-right: 1em;
    }
    .alert {
      margin-bottom: 2em;
      font-size: 1.2em;
    }
  </style>

{% endblock css %}


{% block content %}

  <h2>{% block success %}{% endblock %}</h2>

  <div class="alert alert-info">
    {% block message %}{% endblock %}
    <br>
    <p>
      If you would like to offer feedback on this service, please contact us,
      giving brief details, using the button below.
    </p>
  </div>

  <div class="text-center">
    <a href="{% url 'my-wins' %}" class="btn btn-primary">My Wins</a>
    <a href="{% url 'new-win' %}" class="btn btn-primary">Record a New Export Win</a>
    <a href="mailto:{{ FEEDBACK_EMAIL }}?subject=Export%20Wins%20Feedback" class="btn btn-info">Provide Feedback</a>
  </div>

{% endblock content %}
