{% extends 'ui/base.html' %}


{% load staticfiles %}

{% block content %}

  <div class="alert alert-success success-page-alert">
    <p>
      {% block alert-message %}{% endblock %}
    </p>
  </div>

  <p class="lead success-page-lead">
    {% block lead-message %}{% endblock %}
  </p>

  {% block success-content %}{% endblock %}


  <div class="text-center success-buttons">
    <a href="{% url 'index' %}" class="btn btn-default btn-responsive">My Wins</a>
    <a href="{% url 'new-win' %}" class="btn btn-default btn-responsive">Record a New Export Win</a>
  </div>

  <p class="success-feedback-message">
    If you would like to send us some feedback on this service, please use the link at the top of the page.
  </p>
{% endblock content %}
