{% extends 'wins/partials/win-form.html' %}

{% load staticfiles %}

{% block title %} - Edit win{% endblock title %}

{% block breadcrumb-name %}Edit win{% endblock %}
{% block header %}Edit win{% endblock header %}

{% block banner %}
	<div class="visible-print-block">
		<div class="text-center"><h5><strong>Commercial in Confidence (when complete)</strong></h5></div>
	</div>
{% endblock banner %}

{% block form-footer %}

	<p class="well">
		After you have saved your win, you will be able to continue editing it until you are satisfied that you have got the details correct. You may then send it to the customer for confirmation by...
	</p>

	<div class="end-buttons">

		<a href="{% url 'index' %}" class="btn btn-danger">Cancel</a>


		<input type="submit" name="save" value="Save" class="btn btn-primary">

		{% if win %}
			<input type="submit" name="send" value="Save and send to customer" class="btn btn-warning">
		{% endif %}
	</div>

{% endblock %}
