{% extends "wins/success.html" %}

{% block success %}
  New Export Win created
{% endblock %}

{% block message %}
  <p>
      Thank you for created a new Export Win.

      You can edit this win via the 'My Wins' page.

      or click <a href="{% url 'win-edit' win_id %}" class="btn btn-primary">here</a>

      The win is not complete until you have marked as complete for confirmation by the customer. To do that click <a href="{% url 'win-complete' win_id %}" class="btn btn-primary">here</a>
  </p>
{% endblock %}
