{% extends "wins/success.html" %}

{% block header %}
  Export Win saved
{% endblock %}

{% block breadcrumb-name %}Win saved{% endblock %}

{% block alert-message %}

      Thank you for editing this Export Win, your changes have been saved.

{% endblock %}

{% block lead-message %}
      The win is not complete until you have sent it to the customer for review.
{% endblock %}

{% block success-content %}

	<div class="text-center success-actions">
    	<a href="{% url 'win-details' win_id %}" class="btn btn-primary btn-lg btn-responsive">View win</a>
		<a href="{% url 'win-complete' win_id %}" class="btn btn-primary btn-lg btn-responsive">Review and send to customer</a>
		<a href="{% url 'win-edit' win_id %}" class="btn btn-primary btn-lg btn-responsive">Edit win</a>
	</div>

{% endblock %}
