{% extends "wins/success.html" %}

{% block success %}
  Export Win saved
{% endblock %}

{% block message %}
  <p>
      Thank you for editing this Export Win, your changes have been saved.

      to see win details click <a href="{% url 'win-details' win_id %}" class="btn btn-primary">here</a>

      to continue editing click <a href="{% url 'win-edit' win_id %}" class="btn btn-primary">here</a>

      The win is not complete until you have marked as complete for confirmation by the customer. you can click <a href="{% url 'win-complete' win_id %}" class="btn btn-primary">here</a>


  </p>
{% endblock %}
