{% extends 'ui/base.html' %}


{% load staticfiles %}

{% block breadcrumb-name %}Review win{% endblock %}

{% block header %}Review win{% endblock %}


{% block content %}

  {% if win.complete %}

    <p class="alert alert-info">
      This win is already marked as complete and has been sent to the customer for review.
    </p>

    <div class="text-center">
      <a href="{% url 'index' %}" class="btn btn-primary btn-lg">My Wins</a>
    </div>

  {% else %}

    <p class="lead">
      
      Please review the details of your win below. If you are confident your
      customer will agree, you can mark this win as complete, and a form will be
      sent to the customer for them to confirm the details.
    </p>

    <p>
      If you are unsure you may wish to contact the customer.
    </p>

    <p>
      You can edit these details now, but once the win is marked as complete and
      the customer has been contacted, you will not be able to change these details.
    </p>
      
    <h3 class="section-heading">{{ win.company_name }}</h3>

    <div class="section-content">
      
      Business type: {{ win.business_type }} <br><br>
      Description: {{ win.description }} <br><br>
      Export: {{ win.total_expected_export_value }} <br><br>
      Non-export: {{ win.total_expected_non_export_value }} <br><br>
      Country: {{ win.country }} <br><br>
      Date: {{ win.date }} <br><br>
    </div>

    <form method="post">
      {% csrf_token %}

      <div class="end-buttons">
        <a href="{% url 'index' %}" class="btn btn-default">cancel</a>
        <a href="{% url 'win-edit' win.id %}" class="btn btn-info">Edit win</a>
        <input type="submit" name="complete" value="Mark complete &amp; Send to customer" class="btn btn-primary">
      </div>
    </form>

  {% endif %}

{% endblock content %}
