@import "bootstrap/variables";
@import "login";
@import "win-form";
@import "confirmation-form";
@import "my-wins";
@import "win-details";

$brand-color: #c81e53;


body {
	border-top: 5px solid $brand-color;
	padding-top: 2.5em;
}

.logo-row {

	margin-top: -10px;

	.logo {
		height: 100px;
	}
}

.feedback-link {
	margin-right: 1em;
}

.site-heading {

	margin-bottom: 1em;
	padding-bottom: 0;

	h1 {
		margin-bottom: 0;
	}

	p {
		color: $gray-light;
	}
}

.page-heading {
	margin-bottom: 1em;
}


hr {
	margin: 3em 1em;
}

h1 {
	margin-bottom: 1em;
}


form {

	.end-buttons {
		text-align: right;
	}

	input {
		padding-left: 2em;
		padding-right: 2em;
	}
}

.form-group .alert {
	padding: 0.5em;
}

table tr th {
	text-align: center;
}

td.error input {
	background-color: #f2dede;
}

.form-group {
	margin: 1em 0;
}

.form-group.error {
	border: 1px solid #f2dede;
	border-radius: 0.5em;
	padding: 1em;
}

.form-group ul li label {
	white-space: nowrap;
}

.form-group ul {
	width: 20%;
	float: right;
}

.form-group ul li {
	display: inline;
}

/* Hide Firefox number field arrows */
input[type='number'] {
	-moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.footer {

	border-top: 3px solid $gray-light;
	margin-top: 4em;
	margin-bottom: 3em;
	padding-top: 4em;

	img {
		height: 100px;
	}
}

@media( max-width:$screen-sm-min ){

	.logo-row .logo {
		height: 70px;
	}

	.btn-responsive,
	form .end-buttons .btn {
		width: 100%;
	}

	.non-export-heading {
		margin-top: 2em;
	}
}