@import "bootstrap/variables";

.success-buttons {

	.btn {
		margin-left: 1em;
	}

	.btn:first-of-type {
		margin-left: 0;
	}
}

.success-feedback-message {
	color: $gray-light;
	margin-top: 2em;
}

.success-page-lead {
	margin: 1.5em 0 3em 0;
}

.success-actions {

	margin-bottom: 4em;

	.btn {
		margin-right: 1em;
	}

	.btn:last-of-type {
		margin-right: 0;
	}
}

.win-success {

	margin-bottom: 4em;

	.btn-lg {
		margin: 0.5em 0 2em 0;
	}
}